{% extends "base.html" %}
{% block content %}
{{ error_message }}
{% if game.done %}
<h1> Winner is {{ game.winner.first_name }} </h1>
{% if game.shanghiwin %}
<h1> And it's a Shanghi!!! </h1>
{% endif %}
{% else %}
{%if game.current_round == 21 %}
<h1> Round: Bullseyes </h1>
{% else %}
<h1> Round: {{ game.current_round }}</h1>
{% endif %}
<h1> Player: {{ current_player.player.first_name }} </h1>

<div class="span6">
<form action="{{ game.id }}" method="post" class="span4 score_option score_form">{% csrf_token %}
  <div class="span4 score_option">
    Singles
    <label class="radio inline">
      <input type="radio" name="singles" id="singles" value=0 checked> 0
    </label>
    <label class="radio inline">
      <input type="radio" name="singles" id="singles1" value=1> 1
    </label>
    <label class="radio inline">
      <input type="radio" name="singles" id="singles2" value=2> 2
    </label>
    <label class="radio inline">
      <input type="radio" name="singles" id="singles3" value=3> 3
    </label>
  </div>
  <div class="span4 score_option">
    Doubles
    <label class="radio inline">
      <input type="radio" name="doubles" id="doubles0" value=0 checked> 0
    </label>
    <label class="radio inline">
      <input type="radio" name="doubles" id="doubles1" value=1> 1
    </label>
    <label class="radio inline">
      <input type="radio" name="doubles" id="doubles2" value=2> 2
    </label>
    <label class="radio inline">
      <input type="radio" name="doubles" id="doubles3" value=3> 3
    </label>
  </div>
  <div class="span4 score_option">
    Triples
    <label class="radio inline">
      <input type="radio" name="triples" id="triples0" value=0 checked> 0
    </label>
    <label class="radio inline">
      <input type="radio" name="triples" id="triples1" value=1> 1
    </label>
    <label class="radio inline">
      <input type="radio" name="triples" id="triples2" value=2> 2
    </label>
    <label class="radio inline">
      <input type="radio" name="triples" id="triples3" value=3> 3
    </label>
  </div>
  <input type="submit" value="Submit" />
</form>
<div class="span2">
</div>
{% endif %}
<table class="table">
  <th> Round </th>
  {% for p in player_list %}
  <th>{{ p.player.first_name }}</th>
  {% endfor %}
{% for row in matrix%}
   <tr>
  {% for c in row  %}
    <td>{{ c }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
